extends layout_error.pug 

block title
  title #{title} 

block navbar
  li(class="nav-item")
    a(class="nav-link active", href="/") Go Back


block content
  div(class="container my-5 p-0")
    div(class="jumbotron text-center px-4")
      img(src="https://img.wattpad.com/6742a8b0b75e5566552db01f7bb840b568bb8605/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f3364397a586d5a5049676b6e34413d3d2d34352e313637666439656663346433613036313933303834303036323831302e6a7067?s=fit&w=720&h=720", width="220", class="mb-4")
      h1(class="fs-2 fw-bold mb-0") Maaf Halaman yang anda Cari tidak ditemukan :(
      p(class="lead mb-4")
    
    
      p(class="lead fw-bold mb-15")
      p(class="lead fw-bold mb-15")
      p(class="lead fw-bold mb-15")
      p(class="lead fw-bold mb-15")
      p(class="lead fw-bold mb-15")

                    



              